@model IEnumerable<LojaVirtual.Web.Models.ProdutoViewModel>

<h2>Produtos</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="CreateProduct" class="btn btn-primary">
                    <span title="Create New" class="fas fa-plus"></span> Novo produto
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.NomeCategoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preço)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCategoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preço)
                    </td>
                    <td>
                        <a asp-action="UpdateProduct" asp-route-id="@item.Id" title="Edita" class="btn btn-primary">
                            <span class="fas fa-edit"></span>
                        </a>
                        <a asp-action="DeleteProduct" asp-route-id="@item.Id" title="Deleta" class="btn btn-danger">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>